html,body{
    background-image: url("https://wallpapercave.com/wp/wp8092399.jpg");
    
    margin: 0;
}

.container {
  
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card   {
    background-color: rgb(97, 135, 170);
    border-style: solid;
    border-width: 4px;
    border-radius: 12px;
    padding: 20px;
    border-color: rgba(20, 2, 2, 0.3)
    min-width: 30%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: lucida handwriting,   monospace;
    box-shadow: 0 10px 20px;
    
}

H1{
    border-bottom: 4px solid lightgray;
    margin: 20px 40px;
    padding: 10px;
}
button{
    background-color: lightblue;
    border-radius: 10px solid rgb(106, 209, 185);
    margin: 30px 100px ;
    padding: 15px 5px;
}

button:hover{
    transform: scale(1.1);
}

input{
    border-radius: 30px;
    border-color: lightblue;
    width: 100%;
    
}
